body {
    background-image: url("../pictures/130355.jpg");
}
a {
    color: rgb(201, 247, 0);
    text-align: center;
}
#h {
    text-align: center;
}

input[type=text], select, textarea {
    width: 100%; 
    padding: 10px; 
    border: 10px  rgb(85, 18, 18);
    border-radius: 10px; 
    box-sizing: border-box; 
    margin-top: 6px; 
    margin-bottom: 16px;
    resize: vertical 
  }
  
input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border-radius: 4px;
  }
  
input[type=submit]:hover {
    background-color: #45a049;
  }
  
.form {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }   width: 250px;
}

.ft {
    vertical-align: bottom;
}